<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" type="image/svg+xml" href="/daisy_blue.svg"/>
    <link rel="icon" type="image/png" href="/daisy_blue.png"/>
    {% include "./meta/meta.html" %}
    <link rel="stylesheet" href="/wiki.css">
    {% block head %}
    {% endblock %}
	<title>{% block title%}{% endblock%}</title>
</head>

<body class="line-numbers">
    <!-- Sidebar -->
    {% include "./sidebar.html" %}

    <!-- Page Content -->
    {% block content %}

    {% endblock %}

</body>

</html>