<!-- Primary Meta Tags -->
<meta name="title" content="{{ group.title }}" />
<meta name="description" content="Resource Pack Wiki" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://resourcepack.wiki/{{ group.href }}" />
<meta property="og:title" content="{{ group.title }}" />
<meta property="og:description" content="Resource Pack Wiki" />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content="https://resourcepack.wiki/{{ group.href }}" />
<meta property="twitter:title" content="{{ group.title }}" />
<meta property="twitter:description" content="Resource Pack Wiki" />