<!-- Primary Meta Tags -->
<meta name="title" content="{{ post.title }}" />
<meta name="description" content="{{ post.description }}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://resourcepack.wiki/{{ post.href }}" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:description" content="{{ post.description }}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://resourcepack.wiki/{{ post.href }}" />
<meta property="twitter:title" content="{{ post.title }}" />
<meta property="twitter:description" content="{{ post.description }}" />